@charset "UTF-8";


.noFill {
	fill: none;
}

body {
	padding: 80px 0 0 0;
	background-color: #232323;
}


header {
	width: 100%;
	height: 80px;
	position: fixed;
	padding: 15px;
	top: 0;
	left: 0;
	z-index: 5;
	background-color: #183DA5;
	border-radius: 5px;


}

header input {
	width: 100%;
	height: 50px;
	font-size: 15px;
	font-weight: normal;
	text-indent: 15px;
	padding: 0 70px 0 0;
	float: left;
	background-color: rgba(155, 155, 155, 0.2);
	border-radius: 5px;
}

header input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}

header button {
	width: 50px;
	height: 50px;
	position: absolute;
	top:15px;
	right: 15px;
	z-index: 2;
	border-radius: 5px;
	background-color: #FFFFFF;
	cursor: pointer;
}

header button svg {
	width: 20px;
	height:20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
}

header button svg .fill {
	fill: #183DA5;
}

div.container {
	width: 100%;
	float: left;
	padding: 15px;
}

ul.todo {
	width: 100%;
	float: left;

}

ul.todo#completed:not(:empty) {
	position: relative;
	padding: 60px 0 0 0;
}

ul.todo#completed:not(:empty):before {
	content: '';
	width: 150px;
	height: 1px;
	background: #797979;
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -75px;
	opacity: 0.5;
}

ul.todo li {
	width: 100%;
	min-height: 50px;
	float: left;
	font-size: 15px;
	font-weight: 500;
	color: #A3DFFF;
	line-height: 22px;

	background: #797979;
	border-radius: 5px;
	position: relative;
	margin: 0 0 10px 0;
	padding: 14px 100px 14px 14px;

}

ul.todo li:last-of-type {
	margin: 0;
}

ul.todo li .buttons {
	width: 100px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

ul.todo li .buttons button {
	width: 50px;
	height: 50px;
	float: left;
	background: none;
	position: relative;
	border: 0px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
}

ul.todo li .buttons button:last-of-type:before {
	content: '';
	width: 1px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 0px;
	background: #232323;
}

ul.todo li .buttons button svg {
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -11px;
}

ul.todo li .buttons button svg .fill {
	-webkit-transition:fill 0.2s ease;
	-moz-transition:fill 0.2s ease;
	-ms-transition:fill 0.2s ease;
	-o-transition:fill 0.2s ease;
	transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
	fill: #183DA5;
}

ul.todo li .buttons button.remove:hover svg .fill {
	fill: #e85656;
}

ul.todo li .buttons button.complete svg {
	border-radius: 11px;
	border: 1.5px solid #183DA5;
}

ul.todo li .buttons button.complete svg .fill {
	fill: #183DA5;
}

ul.todo#completed li .buttons button.complete svg {
	background: #FFEE0A;
	border: 0px;
}

ul.todo#completed li .buttons button.complete svg .fill {
	fill: #232323;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
	background: rgba(24, 61, 165, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
	fill: #797979;
}

